* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif; }
  *::-webkit-input-placeholder {
    color: #A0A0A0; }
  *::-moz-placeholder {
    color: #A0A0A0; }
  *:-ms-input-placeholder {
    color: #A0A0A0; }
  *::-ms-input-placeholder {
    color: #A0A0A0; }
  *::placeholder {
    color: #A0A0A0; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

.button {
  padding: 11px;
  font-size: 18px;
  line-height: 21px;
  border-radius: 3px;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  border: none;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .button_red {
    background: rgba(207, 66, 56, 0.8);
    color: #ffffff; }
    .button_red:hover {
      background: #CF4238; }
  .button_green {
    background: rgba(183, 198, 58, 0.7);
    color: rgba(44, 43, 43, 0.8); }
    .button_green:hover {
      background: #BACD38;
      color: #2C2B2B; }
  .button_blue {
    background: transparent;
    border: 1px solid #276075;
    color: #276075; }
    .button_blue:hover {
      background: rgba(39, 96, 117, 0.5); }
    .button_blue:active {
      background: #276075;
      color: #ffffff; }

.custom-switch {
  display: block;
  position: relative;
  padding: 0 0 0 36px;
  margin: 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transform: translateY(-6px);
      -ms-transform: translateY(-6px);
          transform: translateY(-6px); }
  .custom-switch[moved] {
    margin: 0 0 0 264px; }
  .custom-switch:hover ~ .vacancy-form__switch-checkmark {
    background-color: #ccc; }

.vacancy-form__switch {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }
  .vacancy-form__switch:checked ~ .vacancy-form__switch-checkmark {
    background-color: #276075; }
  .vacancy-form__switch:checked ~ .vacancy-form__switch-checkmark::after {
    left: 14px; }
  .vacancy-form__switch:checked ~ .vacancy-form__switch-title {
    color: #2C2B2B; }

.vacancy-form__switch-checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 16px;
  width: 28px;
  background-color: #C5C5C5;
  border-radius: 3px; }
  .vacancy-form__switch-checkmark::after {
    content: "";
    position: absolute;
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 3px;
    background: #ffffff;
    -webkit-transition: all .125s ease-in-out;
    -o-transition: all .125s ease-in-out;
    transition: all .125s ease-in-out;
    top: 2px;
    left: 2px; }

.vacancy-form__switch-title {
  font-size: 15px;
  line-height: 170%;
  color: #A0A0A0;
  font-style: normal;
  font-weight: normal; }

.custom-checkbox {
  display: block;
  position: relative;
  padding: 0 0 0 26px;
  margin: 0;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .custom-checkbox:hover ~ .vacancy-form__checkbox-checkmark {
    border-color: #276075; }

.vacancy-form__checkbox {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }
  .vacancy-form__checkbox:checked ~ .vacancy-form__checkbox-checkmark {
    background-color: #276075; }
  .vacancy-form__checkbox:checked ~ .vacancy-form__checkbox-checkmark::after {
    top: 2px;
    -webkit-transition: all .125s ease-in-out;
    -o-transition: all .125s ease-in-out;
    transition: all .125s ease-in-out; }

.vacancy-form__checkbox-checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border-radius: 3px;
  border: 1px solid #E5E5E5;
  overflow: hidden;
  -webkit-transition: all .125s ease-in-out;
  -o-transition: all .125s ease-in-out;
  transition: all .125s ease-in-out; }
  .vacancy-form__checkbox-checkmark::after {
    content: "";
    position: absolute;
    display: block;
    width: 3px;
    height: 6px;
    border-right: 2px solid #ffffff;
    border-bottom: 2px solid #ffffff;
    -webkit-transition: all .125s ease-in-out;
    -o-transition: all .125s ease-in-out;
    transition: all .125s ease-in-out;
    top: -16px;
    left: 4px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.vacancy-form__checkbox-title {
  font-size: 15px;
  line-height: 170%;
  color: #2C2B2B;
  font-style: normal;
  font-weight: normal; }

.custom-radio {
  display: block;
  position: relative;
  padding: 0 0 0 26px;
  margin-bottom: 4px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }
  .custom-radio:hover ~ .vacancy-form__radio-checkmark {
    border-color: #276075; }

.vacancy-form__radio {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }
  .vacancy-form__radio:checked ~ .vacancy-form__radio-checkmark {
    background-color: #276075; }
  .vacancy-form__radio:checked ~ .vacancy-form__radio-checkmark::after {
    top: 4px;
    -webkit-transition: all .125s ease-in-out;
    -o-transition: all .125s ease-in-out;
    transition: all .125s ease-in-out; }
  .vacancy-form__radio:checked ~ .vacancy-form__radio-title {
    color: #2C2B2B; }

.vacancy-form__radio-checkmark {
  position: absolute;
  top: 6px;
  left: 0;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background-color: #ffffff;
  border: 1px solid #E5E5E5;
  overflow: hidden;
  -webkit-transition: all .125s ease-in-out;
  -o-transition: all .125s ease-in-out;
  transition: all .125s ease-in-out; }
  .vacancy-form__radio-checkmark::after {
    content: "";
    position: absolute;
    display: block;
    width: 6px;
    height: 6px;
    background: #ffffff;
    border-radius: 50%;
    -webkit-transition: all .125s ease-in-out;
    -o-transition: all .125s ease-in-out;
    transition: all .125s ease-in-out;
    top: -16px;
    left: 4px;
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg); }

.vacancy-form__radio-title {
  font-size: 15px;
  line-height: 170%;
  color: #A0A0A0;
  font-style: normal;
  font-weight: normal; }

.select-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  width: 250px;
  position: relative; }
  .select-wrapper::after {
    content: '';
    display: block;
    position: absolute;
    width: 8px;
    height: 11px;
    background: url(../img/select-icon.svg) no-repeat;
    background-size: contain;
    right: 10px;
    top: 10px;
    z-index: 400; }

.select {
  width: 100%;
  height: 30px;
  border-radius: 3px;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  font-size: 15px;
  line-height: 18px;
  padding: 0 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #A0A0A0;
  position: relative;
  cursor: pointer; }
  .select[active] {
    border-color: #276075;
    border-radius: 3px 3px 0 0; }
  .select[selected] {
    color: #2C2B2B; }
  .select:hover {
    border-color: #276075; }

.select__body {
  width: 100%;
  position: absolute;
  top: 30px;
  display: none; }
  .select__body[active] {
    display: block;
    z-index: 900; }

.select__list {
  border: 1px solid #276075;
  border-top: none;
  border-radius: 0 0 3px 3px;
  background: #ffffff; }

.select__list-item {
  height: 30px;
  width: 100%;
  background: #ffffff;
  padding: 10px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .select__list-item:hover {
    cursor: pointer;
    background: rgba(39, 96, 117, 0.25); }
  .select__list-item:last-child {
    border-radius: 0 0 3px 3px; }

.select__list-option {
  width: 100%; }

.container {
  width: 1200px;
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap; }
  .container_row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
        -ms-flex-flow: row nowrap;
            flex-flow: row nowrap;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

.section {
  width: 100%; }

.section-title {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  color: #2C2B2B;
  position: relative;
  display: block;
  margin: 0 auto 20px auto; }
  .section-title::after {
    display: block;
    content: '';
    height: 5px;
    width: 100%;
    background: #BACD38;
    left: 0;
    bottom: -8px;
    position: absolute; }

.header-section {
  padding: 0 0 43px 0; }

.header__logo-block {
  width: 50%;
  padding: 76px 0 0 0; }

.header__logo-image {
  margin: 0 0 38px 0; }

.header__contact-list {
  padding: 0 0 0 120px; }

.header__contact-list-item {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .header__contact-list-item:first-child {
    margin: 0 0 12px 0; }

.header__contact-list-title {
  font-size: 18px;
  line-height: 21px;
  color: #276075;
  font-style: normal;
  font-weight: normal;
  width: 100px;
  display: block; }

.header__contact-list-link {
  display: block;
  color: #276075;
  text-decoration: underline;
  font-size: 18px;
  line-height: 21px; }

.header__info-block {
  width: 50%;
  max-width: 500px;
  padding: 76px 0 0 0; }

.header__info-title {
  font-weight: 500;
  font-size: 48px;
  line-height: 56px;
  color: #276075;
  font-style: normal;
  margin: 0 0 32px 0; }

.header__info-text {
  font-size: 18px;
  line-height: 21px;
  color: #2C2B2B;
  font-weight: normal;
  margin: 0 0 32px 0; }

.button_blue-header {
  font-weight: 500;
  width: 270px;
  height: 50px; }
  .button_blue-header:hover {
    border-color: transparent; }

.slider {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 0 42px 0; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes fadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateY(30px);
            transform: translateY(30px); }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@-webkit-keyframes slideBottom {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

@keyframes slideBottom {
  from {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px); }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0); } }

.slide {
  width: 944px;
  height: 419px;
  position: relative;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 112px 0 0; }
  .slide[active] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: .6s;
            animation-duration: .6s; }

.slider__body {
  position: relative; }

.slider__body-gradient_top {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, right top, left top, color-stop(-24.68%, rgba(39, 96, 117, 0.25)), color-stop(75.64%, rgba(44, 43, 43, 0))), -webkit-gradient(linear, right top, left top, color-stop(-24.68%, #2C2B2B), color-stop(75.64%, rgba(44, 43, 43, 0)));
  background: -o-linear-gradient(right, rgba(39, 96, 117, 0.25) -24.68%, rgba(44, 43, 43, 0) 75.64%), -o-linear-gradient(right, #2C2B2B -24.68%, rgba(44, 43, 43, 0) 75.64%);
  background: linear-gradient(270deg, rgba(39, 96, 117, 0.25) -24.68%, rgba(44, 43, 43, 0) 75.64%), linear-gradient(270deg, #2C2B2B -24.68%, rgba(44, 43, 43, 0) 75.64%);
  z-index: 1500; }

.slider__body-gradient_bottom {
  background: #E9EFF1;
  opacity: 0.2;
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-blend-mode: soft-light;
  z-index: 999; }

.slider__body-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 100; }

.slider__body-quote-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  z-index: 2500;
  position: relative;
  max-height: 237px;
  width: 277px;
  color: #ffffff; }

.slider__body-quote {
  font-weight: 500;
  font-size: 18px;
  font-style: normal;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
  line-height: 142%;
  position: relative; }
  .slider__body-quote::before, .slider__body-quote::after {
    content: '';
    display: block;
    width: 25px;
    height: 18px;
    background: url(../img/quote.svg) no-repeat;
    background-size: contain;
    position: absolute; }
  .slider__body-quote::before {
    left: -46px;
    top: -9px; }
  .slider__body-quote::after {
    right: -46px;
    bottom: -9px;
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }

.slider__body-quote-author {
  font-size: 18px;
  line-height: 21px;
  font-weight: normal;
  font-style: italic;
  margin: 24px 0 0 0; }

.slider__control-list {
  position: relative; }

.slider__control-list-item {
  cursor: pointer;
  position: relative; }
  .slider__control-list-item:hover::after {
    opacity: 1;
    left: -16px; }
  .slider__control-list-item::after {
    content: url("../img/hover-green.svg");
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    left: 0;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }

.slider__control-list-button {
  border: none;
  background: transparent;
  width: 256px;
  height: 84px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 25px 0 31px;
  position: relative;
  pointer-events: none; }

.slider__control-list-title {
  color: #2C2B2B;
  font-size: 18px;
  line-height: 21px;
  z-index: 3000;
  pointer-events: none; }

.slider__control-list-subtitle {
  text-align: left;
  z-index: 3000;
  color: #767676;
  pointer-events: none;
  font-size: 13px;
  margin: 5px 0 0 0; }

.slider__reel {
  position: absolute;
  top: 0;
  left: -16px;
  z-index: 2000;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.vacancy {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  padding: 24px 0 0 0; }

.vacancy__info {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.vacancy__control {
  background: #F6F6F6;
  border-radius: 3px;
  width: 288px;
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  padding: 24px 0; }

.vacancy__control-list {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  position: relative; }

.vacancy__control-list-item {
  cursor: pointer;
  position: relative; }
  .vacancy__control-list-item[active] .vacancy__control-list-button {
    -webkit-transition-delay: .25s;
         -o-transition-delay: .25s;
            transition-delay: .25s;
    color: #ffffff; }
  .vacancy__control-list-item:hover::after {
    opacity: 1;
    left: 0; }
  .vacancy__control-list-item::after {
    content: url("../img/hover-blue.svg");
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 9999;
    pointer-events: none;
    opacity: 0;
    left: -16px;
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out; }

.vacancy__control-list-button {
  width: 100%;
  border: none;
  height: 42px;
  text-align: left;
  padding: 0 21px;
  background: transparent;
  font-size: 15px;
  line-height: 18px;
  color: #2C2B2B;
  z-index: 600;
  position: relative;
  pointer-events: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.blue-reel {
  position: absolute;
  top: 0;
  left: -4px;
  z-index: 400;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.vacancy__content {
  width: 870px;
  padding: 0 0 0 117px; }

.vacancy__content-slide {
  display: none; }
  .vacancy__content-slide[active] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: .6s;
            animation-duration: .6s; }

.vacancy__title {
  font-size: 18px;
  line-height: 21px;
  color: #2C2B2B;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 500; }

.vacancy__content-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 0 15px 0; }

.vacancy__content-title {
  width: 130px;
  margin: 0 71px 0 0;
  font-size: 15px;
  line-height: 18px;
  color: #767676; }

.vacancy__content-description {
  font-size: 15px;
  line-height: 18px;
  color: #2C2B2B; }

.vacancy__content-description-wrapper {
  color: #2C2B2B; }

.vacancy__subway-list {
  margin: 20px 0; }

.vacancy__subway-list-address {
  padding: 0 0 0 18px;
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .vacancy__subway-list-address::before {
    content: '';
    display: block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    position: absolute;
    left: 0; }

.vacancy__subway-list-address[data-line-1]::before {
  background-color: #D6083B; }

.vacancy__subway-list-address[data-line-2]::before {
  background-color: #0078C9; }

.vacancy__subway-list-address[data-line-3]::before {
  background-color: #0FB300; }

.vacancy__subway-list-address[data-line-4]::before {
  background-color: #ED9907; }

.vacancy__subway-list-address[data-line-5]::before {
  background-color: #702785; }

.vacancy__content-description-title {
  margin: 33px 0 15px 0;
  color: #2C2B2B;
  font-size: 15px;
  line-height: 18px; }
  .vacancy__content-description-title_bold {
    font-weight: 500; }

.vacancy__content-description-list-item {
  margin: 0 0 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }
  .vacancy__content-description-list-item::before {
    content: '';
    display: block;
    background: #276075;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    margin: 0 16px 0 0; }

.vacancy__content-description-list-text {
  font-size: 15px;
  line-height: 18px;
  color: #2C2B2B; }

.vacancy__content-row_column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  padding: 40px 0 0 0; }

.vacancy__content-footer-title {
  font-size: 18px;
  line-height: 21px;
  color: #2C2B2B;
  margin: 0 0 18px 0; }
  .vacancy__content-footer-title_bottom {
    margin: 17px 0 55px 0; }

.vacancy__content-row_inner {
  margin: 0 0 8px 0; }
  .vacancy__content-row_inner .vacancy__content-title {
    width: 100px;
    margin: 0; }
  .vacancy__content-row_inner .vacancy__content-description_link {
    text-decoration: underline; }

.vacancy-form__wrapper {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.vacancy-form__block {
  width: 793px; }

.vacancy-form__header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }

.vacancy-form__header-button {
  height: 50px;
  color: rgba(39, 96, 117, 0.8);
  border: 1px solid #E5E5E5;
  background: #ffffff;
  font-size: 15px;
  outline: none; }
  .vacancy-form__header-button:first-child {
    border-radius: 3px 0 0 0;
    width: 263px; }
  .vacancy-form__header-button:nth-of-type(2) {
    border-radius: 0;
    width: 262px; }
  .vacancy-form__header-button:last-child {
    border-radius: 0 3px 0 0;
    width: 268px; }
  .vacancy-form__header-button[active] {
    background: #F6F6F6;
    color: #276075;
    border-bottom: 1px solid transparent; }

.vacancy-form__body {
  background: -webkit-gradient(linear, left bottom, left top, from(#F6F6F6), to(#F6F6F6)), #FFFFFF;
  background: -o-linear-gradient(bottom, #F6F6F6, #F6F6F6), #FFFFFF;
  background: linear-gradient(0deg, #F6F6F6, #F6F6F6), #FFFFFF;
  border: 1px solid #E5E5E5;
  border-radius: 0 0 3px 3px;
  padding: 31px 40px;
  border-top: none; }

.vacancy-form__body-top {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 0 60px 0; }

.vacancy-form__body-logo {
  width: 158px;
  height: 32px;
  margin: 0 64px 0 0; }

.vacancy-form__body-top-title {
  font-size: 24px;
  line-height: 130%;
  color: #276075;
  font-weight: 400;
  margin: 0; }

.vacancy-form__body-top-subtitle {
  font-size: 15px;
  line-height: 130%;
  color: #767676;
  margin: 30px 0 0 0; }

.vacancy-form__change {
  display: none; }
  .vacancy-form__change[active] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-animation-name: fadeIn;
            animation-name: fadeIn;
    -webkit-animation-duration: .5s;
            animation-duration: .5s; }

.vacancy-form__row_upload {
  margin: 0 0 30px 0 !important; }
  .vacancy-form__row_upload .vacancy-form__input {
    width: 288px; }

.upload-input__wrapper {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  .upload-input__wrapper .vacancy-form__input {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    pointer-events: none; }

.upload-input__fake-input {
  width: 188px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 3px 0 0 3px;
  padding: 5px 10px;
  font-size: 15px;
  line-height: 18px;
  color: #A0A0A0;
  white-space: nowrap;
  overflow: hidden !important;
  -o-text-overflow: ellipsis;
     text-overflow: ellipsis;
  display: inline-block; }
  .upload-input__fake-input:hover {
    border-color: rgba(39, 96, 117, 0.5); }
  .upload-input__fake-input:active, .upload-input__fake-input:focus {
    border-color: #276075; }
  .upload-input__fake-input.chosen {
    color: #2C2B2B; }

.upload-input__button {
  width: 101px;
  height: 30px;
  background: #276075;
  border-radius: 0 3px 3px 0;
  color: #ffffff;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  font-size: 13px;
  line-height: 15px;
  font-weight: normal;
  outline: none;
  cursor: pointer; }

.vacancy-form__clone-object .vacancy-form__column {
  margin: 0 0 20px 0; }
  .vacancy-form__clone-object .vacancy-form__column_education {
    width: 590px; }
    .vacancy-form__clone-object .vacancy-form__column_education .vacancy-form__row {
      width: 531px; }
      .vacancy-form__clone-object .vacancy-form__column_education .vacancy-form__row .inputs-row {
        width: auto; }
        .vacancy-form__clone-object .vacancy-form__column_education .vacancy-form__row .inputs-row .vacancy-form__input:last-child {
          margin: 0; }
        .vacancy-form__clone-object .vacancy-form__column_education .vacancy-form__row .inputs-row .vacancy-form__input[type=date] {
          width: 156px; }
  .vacancy-form__clone-object .vacancy-form__column:first-child::after {
    content: '';
    display: block;
    width: 2px;
    height: -webkit-calc(100% + 10px);
    height: calc(100% + 10px);
    right: 8px;
    position: absolute;
    bottom: 0;
    background: #276075; }

.vacancy-form__section {
  padding: 30px 0 20px 0;
  border-bottom: 1px solid #E5E5E5; }
  .vacancy-form__section.vacancy-form__section_no-border {
    border: none;
    padding: 24px 0 0 0; }

.vacancy-form__content {
  margin: 0; }

.vacancy-form__column {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  margin: 0 0 10px 0;
  position: relative; }
  .vacancy-form__column .vacancy-form__input-title {
    margin: 0 0 10px 0;
    width: 100%; }
  .vacancy-form__column > .vacancy-form__input {
    width: 100%; }
  .vacancy-form__column.cloned {
    -webkit-animation-name: slideBottom;
            animation-name: slideBottom;
    -webkit-animation-duration: .125s;
            animation-duration: .125s; }
  .vacancy-form__column.vacancy-form__column_extra-margin {
    margin: 0 0 20px 0; }

.clone-block__border {
  width: 2px;
  height: -webkit-calc(100% - 12px);
  height: calc(100% - 12px);
  bottom: 0;
  right: 8px;
  display: block;
  position: absolute;
  background: #276075; }

.vacancy-form__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 0 0 10px 0;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
      -ms-flex-pack: start;
          justify-content: flex-start; }
  .vacancy-form__row .vacancy-form__input-title {
    width: 262px;
    padding: 0 32px 0 0;
    margin: 0; }

.vacancy-form__input-title {
  font-size: 15px;
  line-height: 18px;
  color: #2C2B2B; }
  .vacancy-form__input-title[data-width=cut] {
    width: 143px; }
  .vacancy-form__input-title[data-width=mid] {
    width: 150px;
    padding: 0; }

.vacancy-form__input {
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  height: 30px;
  padding: 0 12px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2C2B2B;
  width: 388px;
  font-size: 15px;
  outline: none;
  position: relative; }
  .vacancy-form__input[type=date] {
    width: 186px; }
  .vacancy-form__input[type=phone] {
    width: 186px; }
  .vacancy-form__input[error] {
    border-color: #CF4238; }
    .vacancy-form__input[error]:hover, .vacancy-form__input[error]:active {
      border-color: red; }
  .vacancy-form__input[success] {
    border-color: #BACD38; }
    .vacancy-form__input[success]:hover, .vacancy-form__input[success]:active {
      border-color: #BACD38; }
  .vacancy-form__input:hover {
    border-color: rgba(39, 96, 117, 0.5); }
  .vacancy-form__input:active, .vacancy-form__input:focus {
    border-color: #276075; }

.masked-input__wrapper {
  position: relative; }
  .masked-input__wrapper .vacancy-form__input {
    letter-spacing: 2px; }

.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 15px;
  padding: 0 12px;
  pointer-events: none; }

.vacancy-form__change-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  width: 100%;
  margin: 0;
  position: relative; }

.vacancy-form__change-nav-button {
  height: 60px;
  width: 20%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  background: transparent;
  border: 1px solid transparent;
  opacity: .8;
  padding: 12px;
  z-index: 600;
  outline: none; }

.change-nav__reel {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 400;
  -webkit-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out; }

.change-nav__number {
  font-size: 24px;
  font-weight: 500;
  color: #2C2B2B;
  line-height: 130%;
  pointer-events: none; }

.change-nav__title {
  font-size: 13px;
  line-height: 130%;
  font-weight: normal;
  color: #2C2B2B;
  pointer-events: none; }

.vacancy-form__step {
  display: none;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: .6s;
          animation-duration: .6s; }
  .vacancy-form__step[active] {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap; }

.vacancy-form__step-description {
  margin: 30px 0 0 0;
  font-size: 15px;
  color: #2C2B2B;
  line-height: 18px;
  font-style: normal;
  font-weight: normal; }

.vacancy-form__step-subtitle {
  font-size: 15px;
  line-height: 130%;
  font-style: normal;
  font-weight: normal;
  color: #767676;
  margin: 2px 0 0 0; }

.inputs-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 388px; }
  .inputs-row .vacancy-form__input-title {
    width: auto;
    margin: 0 12px 0 0;
    white-space: nowrap;
    padding: 0; }
  .inputs-row .vacancy-form__input {
    width: 86px;
    margin: 0 24px 0 0; }
    .inputs-row .vacancy-form__input:first-child {
      margin: 0 24px 0 0; }
  .inputs-row_cut .vacancy-form__input {
    width: 75px; }

.event-wrapper {
  display: block;
  -webkit-animation-name: slideBottom;
          animation-name: slideBottom;
  -webkit-animation-duration: .3s;
          animation-duration: .3s;
  margin: 0 0 10px 0; }
  .event-wrapper[hidden] {
    display: none; }
  .event-wrapper .vacancy-form__input[data-input=full] {
    width: 500px; }

.soft-skills__row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 10px 0 0 0; }

.soft-skills__item {
  padding: 0 12px;
  height: 30px;
  background: #ffffff;
  border: 1px solid #E5E5E5;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 10px 10px 0;
  cursor: pointer;
  position: relative; }
  .soft-skills__item:hover {
    border-color: #276075; }
    .soft-skills__item:hover .soft-skills__title, .soft-skills__item:hover .soft-skills__add {
      color: #276075; }
  .soft-skills__item.hidden {
    opacity: 0;
    -webkit-transform: translateY(-10px);
        -ms-transform: translateY(-10px);
            transform: translateY(-10px);
    -webkit-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
    pointer-events: none; }

.soft-skills__title {
  font-size: 13px;
  line-height: 15px;
  height: 16px;
  color: #A0A0A0;
  margin: 0 0 0 12px;
  display: block;
  padding: 15px 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center; }

.soft-skills__add {
  font-size: 16px;
  color: #A0A0A0;
  pointer-events: none; }

.vacancy-form__input_textarea-work {
  height: 60px;
  resize: none;
  padding: 6px 10px; }

.inputs-row_habits {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 100%; }
  .inputs-row_habits .custom-checkbox {
    margin: 0 112px 0 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    .inputs-row_habits .custom-checkbox .vacancy-form__checkbox-title {
      width: 130px;
      -webkit-transform: translateY(2px);
          -ms-transform: translateY(2px);
              transform: translateY(2px); }

.bad-habits__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  margin: 4px 0 0 0; }
  .bad-habits__wrapper .vacancy-form__input-title {
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px); }

.vacancy-form__row_driver {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .vacancy-form__row_driver .vacancy-form__title {
    width: 112px;
    margin: 0 50px 0 0;
    -webkit-transform: translateY(4px);
        -ms-transform: translateY(4px);
            transform: translateY(4px);
    font-size: 15px;
    line-height: 18px;
    color: #2C2B2B; }
  .vacancy-form__row_driver .vacancy-form__row:last-child .vacancy-form__input-title {
    width: 112px;
    margin: 0 50px 0 0; }

.event-wrapper__auto .vacancy-form__input-title {
  width: 112px;
  margin: 0 50px 0 0;
  padding: 0 12px 0 0; }

.event-wrapper__auto .vacancy-form__row:first-child .vacancy-form__input {
  width: 288px; }

.event-wrapper__auto .vacancy-form__row:last-child .vacancy-form__input {
  width: 84px; }

.army__wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  margin: 0 0 12px 0; }
  .army__wrapper .vacancy-form__title {
    width: 170px;
    padding: 0 12px 0 0;
    margin: 0;
    font-size: 15px;
    line-height: 18px;
    color: #2C2B2B; }
  .army__wrapper .army__list {
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px); }
  .army__wrapper .event-wrapper {
    width: 100%; }

.event-wrapper_army {
  display: none; }
  .event-wrapper_army .vacancy-form__input-title {
    width: 112px;
    padding: 0;
    margin: 0 50px 0 0; }
  .event-wrapper_army .inputs-row {
    width: auto; }
    .event-wrapper_army .inputs-row .vacancy-form__input-title {
      width: auto;
      margin: 0 12px 0 0; }
    .event-wrapper_army .inputs-row .vacancy-form__input {
      width: 186px; }

.vacancy-form__row_pc, .vacancy-form__row_family {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .vacancy-form__row_pc .vacancy-form__list, .vacancy-form__row_family .vacancy-form__list {
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px); }

.vacancy-form__row_estate {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }
  .vacancy-form__row_estate .vacancy-form__input-title {
    width: 150px;
    padding: 0;
    margin: 0 12px 0 0; }
  .vacancy-form__row_estate .vacancy-form__list {
    -webkit-transform: translateY(-4px);
        -ms-transform: translateY(-4px);
            transform: translateY(-4px); }

.vacancy-form__row_textarea {
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
          align-items: flex-start; }

.vacancy-form__input_textarea-big {
  height: 150px;
  width: 450px;
  resize: none;
  margin: 0 0 50px 0; }

.vacancy-form__policy {
  font-size: 12px;
  line-height: 14px;
  color: #A0A0A0; }

.vacancy-form__column_spouse {
  display: none;
  -webkit-animation-name: slideBottom;
          animation-name: slideBottom;
  -webkit-animation-duration: .3s;
          animation-duration: .3s; }

.clone-button {
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 1px dotted #276075;
  color: #276075;
  font-weight: 500;
  font-size: 13px;
  margin: 0 0 0 262px;
  cursor: pointer; }
  .clone-button:hover {
    color: #CF4238;
    border-color: #CF4238; }
  .clone-button_cut {
    margin: 0 0 0 143px; }

.clone-block__delete-button {
  position: absolute;
  right: 0;
  top: -12px;
  width: 8px;
  height: 8px;
  border: none;
  background: transparent;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  font-size: 24px;
  color: #276075;
  cursor: pointer;
  outline: none; }
  .clone-block__delete-button:hover {
    color: #CF4238; }
    .clone-block__delete-button:hover ~ .clone-block__border {
      background: #CF4238; }

.drag-section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  position: relative;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .drag-section_top {
    padding: 0 0 17px 0; }
    .drag-section_top::after {
      width: 100%;
      height: 1px;
      left: 0;
      bottom: 0;
      background: #E5E5E5;
      content: '';
      display: block;
      position: absolute; }
  .drag-section_bottom {
    margin: 32px 0 0 0;
    position: relative; }
    .drag-section_bottom::before, .drag-section_bottom::after {
      display: block;
      content: '';
      width: 20px;
      height: 20px;
      background: #F6F6F6;
      position: absolute;
      top: -46px; }
    .drag-section_bottom::before {
      -webkit-transform: rotate(-60deg);
          -ms-transform: rotate(-60deg);
              transform: rotate(-60deg);
      left: -webkit-calc(50% - 15px);
      left: calc(50% - 15px);
      border-left: 1px solid #E5E5E5; }
    .drag-section_bottom::after {
      -webkit-transform: rotate(60deg);
          -ms-transform: rotate(60deg);
              transform: rotate(60deg);
      left: -webkit-calc(50% - 7px);
      left: calc(50% - 7px);
      border-right: 1px solid #E5E5E5; }

.form-change__button {
  background: transparent;
  border: 1px solid #BACD38;
  margin: 60px auto 24px auto;
  width: 248px;
  height: 44px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #2C2B2B; }
  .form-change__button * {
    pointer-events: none; }
  .form-change__button:hover, .form-change__button:active {
    background: #BACD38; }

.form-change__button-arrow-wrapper {
  margin: 0 0 0 24px;
  -webkit-transform: translateY(1px);
      -ms-transform: translateY(1px);
          transform: translateY(1px); }

.vacancy-form__submit-block {
  margin: 32px 0 0 0; }
  .vacancy-form__submit-block .button {
    width: 248px;
    height: 44px;
    font-weight: 500;
    margin: 0 auto; }

.vacancy-form__submit-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-flow: column nowrap;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%; }

.vacancy-form__submit-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #A0A0A0;
  margin: 12px 0 0 0;
  font-size: 10px;
  width: 248px; }
  .vacancy-form__submit-link::before {
    content: '';
    display: block;
    width: 12px;
    height: 12px;
    background: url(../img/checkmark-gray.svg) no-repeat;
    background-size: contain;
    margin: 0 6px 0 0; }

.drag-wrapper {
  width: 230px;
  height: 60px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  position: relative;
  margin: 0 0 15px 0; }

.drag-block_back, .drag-block_front {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 230px;
  height: 60px;
  background: #ffffff;
  border: 1px solid #276075;
  border-radius: 3px; }
  .drag-block_back::-moz-selection, .drag-block_front::-moz-selection {
    background: transparent; }
  .drag-block_back::selection, .drag-block_front::selection {
    background: transparent; }
  .drag-block_back::before, .drag-block_front::before {
    content: '';
    width: 7px;
    height: 12px;
    display: block;
    background: url(../img/drag.svg);
    position: absolute;
    left: 12px;
    z-index: 9999; }
  .drag-block_back *, .drag-block_front * {
    pointer-events: none; }

.drag-block_front {
  cursor: pointer;
  position: relative;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s; }
  .drag-block_front.hidden {
    display: none; }

.drag-block_back {
  opacity: .5; }

.drag-block__title {
  color: #276075;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  width: 100%;
  padding: 0 12px 0 36px;
  pointer-events: none; }
  .drag-block__title::-moz-selection {
    background: transparent; }
  .drag-block__title::selection {
    background: transparent; }

.drag-block__subtitle {
  font-size: 10px;
  line-height: 12px;
  color: #276075;
  pointer-events: none; }
  .drag-block__subtitle::-moz-selection {
    background: transparent; }
  .drag-block__subtitle::selection {
    background: transparent; }

.drag-place__wrapper {
  width: 230px;
  height: 60px;
  border: 1px solid transparent;
  border-radius: 3px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  background: #ffffff;
  position: relative;
  opacity: .5;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  margin: 0 0 15px 0; }
  .drag-place__wrapper::before {
    content: '';
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 2000;
    color: #276075;
    top: 15px;
    font-size: 24px;
    font-weight: 500;
    width: 40px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: absolute; }
  .drag-place__wrapper .drag-block_front::before {
    display: none; }
  .drag-place__wrapper.hovered {
    border-color: #276075; }

.drag-place__wrapper[data-index-1]::before {
  content: "1"; }

.drag-place__wrapper[data-index-2]::before {
  content: "2"; }

.drag-place__wrapper[data-index-3]::before {
  content: "3"; }

.drag-place__wrapper[data-index-4]::before {
  content: "4"; }

.drag-place__wrapper[data-index-5]::before {
  content: "5"; }

.drag-place__wrapper[data-index-6]::before {
  content: "6"; }

.drag-place__wrapper[data-index-7]::before {
  content: "7"; }

.drag-place__wrapper[data-index-8]::before {
  content: "8"; }

.drag-place__wrapper[data-index-9]::before {
  content: "9"; }

.drag-place__wrapper[data-index-10]::before {
  content: "10"; }

.drag-place__wrapper[data-index-11]::before {
  content: "11"; }

.drag-place__wrapper[data-index-12]::before {
  content: "12"; }

.ui-draggable-handle {
  z-index: 600; }

.ui-draggable-dragging {
  z-index: 1500; }

.video-section {
  padding: 32px 0 128px 0; }
