// Variables
$red: #CF4238
$blue: #276075
$green: #BACD38
$text: #2C2B2B
$white: #BACD38
$substrate: #F6F6F6
$border: #E5E5E5
$icons: #C5C5C5
$inscriptions: #A0A0A0

$subway: ("1": #D6083B, "2": #0078C9, "3": #0FB300, "4": #ED9907, "5": #702785)

// Common Styles
*
  box-sizing: border-box
  margin: 0
  padding: 0
  font-family: 'Roboto', sans-serif

  &::placeholder
    color: #A0A0A0

ul
  list-style-type: none

a
  text-decoration: none

// Buttons Styles
.button
  padding: 11px
  font-size: 18px
  line-height: 21px
  border-radius: 3px
  transition: all .3s ease-in-out
  border: none
  cursor: pointer
  display: flex
  align-items: center
  justify-content: center

  &_red
    background: rgba(207, 66, 56, .8)
    color: #ffffff

    &:hover
      background: $red

  &_green
    background: rgba(183, 198, 58, .7)
    color: rgba(44, 43, 43, .8)

    &:hover
      background: $green
      color: $text

  &_blue
    background: transparent
    border: 1px solid $blue
    color: $blue

    &:hover
      background: rgba(39,96,117,.5)

    &:active
      background: $blue
      color: #ffffff


// Checkboxes

// Switch
.custom-switch
  display: block
  position: relative
  padding: 0 0 0 36px
  margin: 0
  cursor: pointer
  font-size: 22px
  user-select: none
  transform: translateY(-6px)

  &[moved]
    margin: 0 0 0 264px

  &:hover ~.vacancy-form__switch-checkmark
    background-color: #ccc

.vacancy-form__switch
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0

  &:checked ~.vacancy-form__switch-checkmark
    background-color: $blue

  &:checked ~.vacancy-form__switch-checkmark
    &::after
      left: 14px

  &:checked ~.vacancy-form__switch-title
    color: #2C2B2B


.vacancy-form__switch-checkmark
  position: absolute
  top: 6px
  left: 0
  height: 16px
  width: 28px
  background-color: $icons
  border-radius: 3px

  &::after
    content: ""
    position: absolute
    display: block
    width: 12px
    height: 12px
    border-radius: 3px
    background: #ffffff
    transition: all .125s ease-in-out
    top: 2px
    left: 2px

.vacancy-form__switch-title
  font-size: 15px
  line-height: 170%
  color: #A0A0A0
  font-style: normal
  font-weight: normal

// Checkbox
.custom-checkbox
  display: block
  position: relative
  padding: 0 0 0 26px
  margin: 0
  cursor: pointer
  font-size: 22px
  user-select: none

  &:hover ~.vacancy-form__checkbox-checkmark
    border-color: $blue

.vacancy-form__checkbox
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0

  &:checked ~.vacancy-form__checkbox-checkmark
    background-color: $blue

  &:checked ~.vacancy-form__checkbox-checkmark
    &::after
      top: 2px
      transition: all .125s ease-in-out


.vacancy-form__checkbox-checkmark
  position: absolute
  top: 6px
  left: 0
  height: 16px
  width: 16px
  background-color: #ffffff
  border-radius: 3px
  border: 1px solid $border
  overflow: hidden
  transition: all .125s ease-in-out

  &::after
    content: ""
    position: absolute
    display: block
    width: 3px
    height: 6px
    border-right: 2px solid #ffffff
    border-bottom: 2px solid #ffffff
    transition: all .125s ease-in-out
    top: -16px
    left: 4px
    transform: rotate(45deg)

.vacancy-form__checkbox-title
  font-size: 15px
  line-height: 170%
  color: #2C2B2B
  font-style: normal
  font-weight: normal

// Radio
.custom-radio
  display: block
  position: relative
  padding: 0 0 0 26px
  margin-bottom: 4px
  cursor: pointer
  font-size: 22px
  user-select: none

  &:hover ~.vacancy-form__radio-checkmark
    border-color: $blue

.vacancy-form__radio
  position: absolute
  opacity: 0
  cursor: pointer
  height: 0
  width: 0

  &:checked ~.vacancy-form__radio-checkmark
    background-color: $blue

  &:checked ~.vacancy-form__radio-checkmark
    &::after
      top: 4px
      transition: all .125s ease-in-out

  &:checked ~.vacancy-form__radio-title
    color: #2C2B2B


.vacancy-form__radio-checkmark
  position: absolute
  top: 6px
  left: 0
  height: 16px
  width: 16px
  border-radius: 50%
  background-color: #ffffff
  border: 1px solid $border
  overflow: hidden
  transition: all .125s ease-in-out

  &::after
    content: ""
    position: absolute
    display: block
    width: 6px
    height: 6px
    background: #ffffff
    border-radius: 50%
    transition: all .125s ease-in-out
    top: -16px
    left: 4px
    transform: rotate(45deg)

.vacancy-form__radio-title
  font-size: 15px
  line-height: 170%
  color: #A0A0A0
  font-style: normal
  font-weight: normal

// Custom select
.select-wrapper
  display: flex
  flex-flow: column nowrap
  width: 250px
  position: relative
  &::after
    content: ''
    display: block
    position: absolute
    width: 8px
    height: 11px
    background: url(../img/select-icon.svg) no-repeat
    background-size: contain
    right: 10px
    top: 10px
    z-index: 400

.select
  width: 100%
  height: 30px
  border-radius: 3px
  background: #ffffff
  border: 1px solid $border
  font-size: 15px
  line-height: 18px
  padding: 0 12px
  display: flex
  align-items: center
  color: #A0A0A0
  position: relative
  cursor: pointer

  &[active]
    border-color: $blue
    border-radius: 3px 3px 0 0

  &[selected]
    color: #2C2B2B

  &:hover
    border-color: $blue

.select__body
  width: 100%
  position: absolute
  top: 30px
  display: none

  &[active]
    display: block
    z-index: 900

.select__list
  border: 1px solid $blue
  border-top: none
  border-radius: 0 0 3px 3px
  background: #ffffff

.select__list-item
  height: 30px
  width: 100%
  background: #ffffff
  padding: 10px
  display: flex
  align-items: center

  &:hover
    cursor: pointer
    background: rgba(39, 96, 117, 0.25)

  &:last-child
    border-radius: 0 0 3px 3px

.select__list-option
  width: 100%


.container
  width: 1200px
  margin: 0 auto
  display: flex
  flex-flow: column nowrap

  &_row
    flex-flow: row nowrap
    align-items: flex-start

.section
  width: 100%

.section-title
  font-weight: 500
  font-size: 24px
  line-height: 28px
  text-align: center
  color: $text
  position: relative
  display: block
  margin: 0 auto 20px auto

  &::after
    display: block
    content: ''
    height: 5px
    width: 100%
    background: $green
    left: 0
    bottom: -8px
    position: absolute


// Sections styles

// Header
.header-section
  padding: 0 0 43px 0

.header__logo-block
  width: 50%
  padding: 76px 0 0 0

.header__logo-image
  margin: 0 0 38px 0

.header__contact-list
  padding: 0 0 0 120px

.header__contact-list-item
  display: flex
  flex-flow: row nowrap
  align-items: center
  &:first-child
    margin: 0 0 12px 0

.header__contact-list-title
  font-size: 18px
  line-height: 21px
  color: $blue
  font-style: normal
  font-weight: normal
  width: 100px
  display: block

.header__contact-list-link
  display: block
  color: $blue
  text-decoration: underline
  font-size: 18px
  line-height: 21px

.header__info-block
  width: 50%
  max-width: 500px
  padding: 76px 0 0 0

.header__info-title
  font-weight: 500
  font-size: 48px
  line-height: 56px
  color: $blue
  font-style: normal
  margin: 0 0 32px 0

.header__info-text
  font-size: 18px
  line-height: 21px
  color: $text
  font-weight: normal
  margin: 0 0 32px 0

.button_blue-header
  font-weight: 500
  width: 270px
  height: 50px

  &:hover
    border-color: transparent


// Slider section
.slider
  display: flex
  flex-flow: row nowrap
  margin: 0 0 42px 0

@keyframes fadeIn
  from
    opacity: 0
    transform: translateY(30px)
  to
    opacity: 1
    transform: translateY(0)

@keyframes slideBottom
  from
    transform: translateY(-20px)
  to
    transform: translateY(0)

.slide
  width: 944px
  height: 419px
  position: relative
  display: none
  flex-flow: row nowrap
  align-items: center
  justify-content: flex-end
  padding: 0 112px 0 0

  &[active]
    display: flex
    animation-name: fadeIn
    animation-duration: .6s

.slider__body
  position: relative

.slider__body-gradient_top
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%
  background: linear-gradient(270deg, rgba(39, 96, 117, 0.25) -24.68%, rgba(44, 43, 43, 0) 75.64%), linear-gradient(270deg, #2C2B2B -24.68%, rgba(44, 43, 43, 0) 75.64%)

  z-index: 1500

.slider__body-gradient_bottom
  background: #E9EFF1
  opacity: 0.2
  position: absolute
  display: block
  top: 0
  left: 0
  width: 100%
  height: 100%
  background-blend-mode: soft-light
  z-index: 999

.slider__body-image
  position: absolute
  width: 100%
  height: 100%
  left: 0
  top: 0
  z-index: 100

.slider__body-quote-wrapper
  display: flex
  flex-flow: column nowrap
  z-index: 2500
  position: relative
  max-height: 237px
  width: 277px
  color: #ffffff

.slider__body-quote
  font-weight: 500
  font-size: 18px
  font-style: normal
  text-shadow: 0 0 4px rgba(0,0,0,.5)
  line-height: 142%
  position: relative

  &::before, &::after
    content: ''
    display: block
    width: 25px
    height: 18px
    background: url(../img/quote.svg) no-repeat
    background-size: contain
    position: absolute

  &::before
    left: -46px
    top: -9px

  &::after
    right: -46px
    bottom: -9px
    transform: rotate(180deg)

.slider__body-quote-author
  font-size: 18px
  line-height: 21px
  font-weight: normal
  font-style: italic
  margin: 24px 0 0 0

.slider__control-list
  position: relative

.slider__control-list-item
  cursor: pointer
  position: relative

  &:hover
    &::after
      opacity: 1
      left: -16px

  &::after
    content: url('../img/hover-green.svg')
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0
    z-index: 9999
    pointer-events: none
    opacity: 0
    left: 0
    transition: all .3s ease-in-out


.slider__control-list-button
  border: none
  background: transparent
  width: 256px
  height: 84px
  display: flex
  flex-flow: column nowrap
  align-items: flex-start
  justify-content: center
  padding: 0 25px 0 31px
  position: relative
  pointer-events: none

.slider__control-list-title
  color: $text
  font-size: 18px
  line-height: 21px
  z-index: 3000
  pointer-events: none

.slider__control-list-subtitle
  text-align: left
  z-index: 3000
  color: #767676
  pointer-events: none
  font-size: 13px
  margin: 5px 0 0 0

.slider__reel
  position: absolute
  top: 0
  left: -16px
  z-index: 2000
  transition: all .3s ease-in-out



// Vacancy section
.vacancy
  display: flex
  flex-flow: row wrap
  padding: 24px 0 0 0

.vacancy__info
  display: flex
  flex-flow: row nowrap

.vacancy__control
  background: $substrate
  border-radius: 3px
  width: 288px
  align-self: flex-start
  padding: 24px 0

.vacancy__control-list
  display: flex
  flex-flow: column nowrap
  position: relative

.vacancy__control-list-item
  cursor: pointer
  position: relative

  &[active]
    .vacancy__control-list-button
      transition-delay: .25s
      color: #ffffff

  &:hover
    &::after
      opacity: 1
      left: 0

  &::after
    content: url('../img/hover-blue.svg')
    display: block
    width: 100%
    height: 100%
    position: absolute
    top: 0
    z-index: 9999
    pointer-events: none
    opacity: 0
    left: -16px
    transition: all .3s ease-in-out

.vacancy__control-list-button
  width: 100%
  border: none
  height: 42px
  text-align: left
  padding: 0 21px
  background: transparent
  font-size: 15px
  line-height: 18px
  color: $text
  z-index: 600
  position: relative
  pointer-events: none
  transition: all .3s


.blue-reel
  position: absolute
  top: 0
  left: -4px
  z-index: 400
  transition: all .3s ease-in-out

.vacancy__content
  width: 870px
  padding: 0 0 0 117px

.vacancy__content-slide
  display: none

  &[active]
    display: flex
    flex-flow: column nowrap
    animation-name: fadeIn
    animation-duration: .6s

.vacancy__title
  font-size: 18px
  line-height: 21px
  color: $text
  height: 60px
  display: flex
  align-items: center
  font-weight: 500

.vacancy__content-row
  display: flex
  flex-flow: row nowrap
  margin: 0 0 15px 0

.vacancy__content-title
  width: 130px
  margin: 0 71px 0 0
  font-size: 15px
  line-height: 18px
  color: #767676

.vacancy__content-description
  font-size: 15px
  line-height: 18px
  color: $text

.vacancy__content-description-wrapper
  color: $text

.vacancy__subway-list
  margin: 20px 0

.vacancy__subway-list-address
  padding: 0 0 0 18px
  position: relative
  display: flex
  align-items: center

  &::before
    content: ''
    display: block
    width: 8px
    height: 8px
    border-radius: 50%
    position: absolute
    left: 0

@for $i from 1 to 6
  .vacancy__subway-list-address
    &[data-line-#{$i}]
      &::before
        background-color: map-get($subway, #{$i})


.vacancy__content-description-title
  margin: 33px 0 15px 0
  color: $text
  font-size: 15px
  line-height: 18px

  &_bold
    font-weight: 500

.vacancy__content-description-list-item
  margin: 0 0 15px 0
  display: flex
  flex-flow: row nowrap
  align-items: center

  &::before
    content: ''
    display: block
    background: $blue
    width: 5px
    height: 5px
    border-radius: 50%
    margin: 0 16px 0 0


.vacancy__content-description-list-text
  font-size: 15px
  line-height: 18px
  color: $text

.vacancy__content-row_column
  flex-flow: column nowrap
  padding: 40px 0 0 0

.vacancy__content-footer-title
  font-size: 18px
  line-height: 21px
  color: $text
  margin: 0 0 18px 0

  &_bottom
    margin: 17px 0 55px 0

.vacancy__content-row_inner
  margin: 0 0 8px 0
  .vacancy__content-title
    width: 100px
    margin: 0

  .vacancy__content-description_link
    text-decoration: underline



.vacancy-form__wrapper
  width: 100%
  display: flex
  justify-content: flex-end
  flex-flow: row nowrap

.vacancy-form__block
  width: 793px

.vacancy-form__header
  display: flex
  flex-flow: row nowrap

.vacancy-form__header-button
  height: 50px
  color: rgba(39, 96, 117, .8)
  border: 1px solid $border
  background: #ffffff
  font-size: 15px
  outline: none

  &:first-child
    border-radius: 3px 0 0 0
    width: 263px

  &:nth-of-type(2)
    border-radius: 0
    width: 262px

  &:last-child
    border-radius: 0 3px 0 0
    width: 268px

  &[active]
    background: $substrate
    color: $blue
    border-bottom: 1px solid transparent

.vacancy-form__body
  background: linear-gradient(0deg, $substrate, $substrate), #FFFFFF
  border: 1px solid $border
  border-radius: 0 0 3px 3px
  padding: 31px 40px
  border-top: none

.vacancy-form__body-top
  display: flex
  flex-flow: row wrap
  margin: 0 0 60px 0

.vacancy-form__body-logo
  width: 158px
  height: 32px
  margin: 0 64px 0 0

.vacancy-form__body-top-title
  font-size: 24px
  line-height: 130%
  color: $blue
  font-weight: 400
  margin: 0

.vacancy-form__body-top-subtitle
  font-size: 15px
  line-height: 130%
  color: #767676
  margin: 30px 0 0 0

.vacancy-form__change
  display: none

  &[active]
    display: flex
    flex-flow: column nowrap
    animation-name: fadeIn
    animation-duration: .5s


.vacancy-form__row_upload
  margin: 0 0 30px 0 !important

  .vacancy-form__input
    width: 288px

.upload-input__wrapper
  position: relative
  display: flex
  flex-flow: row nowrap

  .vacancy-form__input
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    opacity: 0
    pointer-events: none

.upload-input__fake-input
  width: 188px
  height: 30px
  background: #ffffff
  border: 1px solid $border
  border-radius: 3px 0 0 3px
  padding: 5px 10px
  font-size: 15px
  line-height: 18px
  color: $inscriptions
  white-space: nowrap
  overflow: hidden !important
  text-overflow: ellipsis
  display: inline-block

  &:hover
    border-color: rgba(39, 96, 117, 0.5)

  &:active, &:focus
    border-color: $blue

  &.chosen
    color: $text

.upload-input__button
  width: 101px
  height: 30px
  background: $blue
  border-radius: 0 3px 3px 0
  color: #ffffff
  display: flex
  align-items: center
  justify-content: center
  border: none
  font-size: 13px
  line-height: 15px
  font-weight: normal
  outline: none
  cursor: pointer


.vacancy-form__clone-object
  .vacancy-form__column
    margin: 0 0 20px 0

    &_education
      width: 590px
      .vacancy-form__row
        width: 531px

        .inputs-row
          width: auto
          .vacancy-form__input
            &:last-child
              margin: 0
            &[type=date]
              width: 156px

    &:first-child
      &::after
        content: ''
        display: block
        width: 2px
        height: calc(100% + 10px)
        right: 8px
        position: absolute
        bottom: 0
        background: #276075



// FORM CONTENT
.vacancy-form__section
  padding: 30px 0 20px 0
  border-bottom: 1px solid $border

  &.vacancy-form__section_no-border
    border: none
    padding: 24px 0 0 0

.vacancy-form__content
  margin: 0




.vacancy-form__column
  display: flex
  flex-flow: column nowrap
  margin: 0 0 10px 0
  position: relative

  .vacancy-form__input-title
    margin: 0 0 10px 0
    width: 100%

  > .vacancy-form__input
    width: 100%

  &.cloned
    animation-name: slideBottom
    animation-duration: .125s

  &.vacancy-form__column_extra-margin
    margin: 0 0 20px 0

.clone-block__border
  width: 2px
  height: calc(100% - 12px)
  bottom: 0
  right: 8px
  display: block
  position: absolute
  background: $blue

.vacancy-form__row
  display: flex
  flex-flow: row nowrap
  margin: 0 0 10px 0
  align-items: center
  justify-content: flex-start

  .vacancy-form__input-title
    width: 262px
    padding: 0 32px 0 0
    margin: 0

.vacancy-form__input-title
  font-size: 15px
  line-height: 18px
  color: $text

  &[data-width=cut]
    width: 143px

  &[data-width=mid]
    width: 150px
    padding: 0

.vacancy-form__input
  background: #ffffff
  border: 1px solid $border
  border-radius: 3px
  height: 30px
  padding: 0 12px
  display: flex
  align-items: center
  color: $text
  width: 388px
  font-size: 15px
  outline: none
  position: relative

  &[type=date]
    width: 186px

  &[type=phone]
    width: 186px



  &[error]
    border-color: $red
    &:hover, &:active
      border-color: red

  &[success]
    border-color: $green
    &:hover, &:active
      border-color: $green

  &:hover
    border-color: rgba(39, 96, 117, 0.5)

  &:active, &:focus
    border-color: $blue


.masked-input__wrapper
  position: relative

  .vacancy-form__input
    letter-spacing: 2px

.mask
  width: 100%
  height: 100%
  position: absolute
  left: 0
  top: 0
  display: flex
  align-items: center
  font-size: 15px
  padding: 0 12px
  pointer-events: none


.vacancy-form__change-nav
  display: flex
  flex-flow: row nowrap
  width: 100%
  margin: 0
  position: relative

.vacancy-form__change-nav-button
  height: 60px
  width: 20%
  display: flex
  flex-flow: column nowrap
  align-items: flex-start
  background: transparent
  border: 1px solid transparent
  opacity: .8
  padding: 12px
  z-index: 600
  outline: none

.change-nav__reel
  position: absolute
  left: 0
  top: 0
  z-index: 400
  transition: all .3s ease-in-out

.change-nav__number
  font-size: 24px
  font-weight: 500
  color: $text
  line-height: 130%
  pointer-events: none

.change-nav__title
  font-size: 13px
  line-height: 130%
  font-weight: normal
  color: $text
  pointer-events: none

.vacancy-form__step
  display: none
  animation-name: fadeIn
  animation-duration: .6s

  &[active]
    display: flex
    flex-flow: column nowrap

.vacancy-form__step-description
  margin: 30px 0 0 0
  font-size: 15px
  color: #2C2B2B
  line-height: 18px
  font-style: normal
  font-weight: normal

.vacancy-form__step-subtitle
  font-size: 15px
  line-height: 130%
  font-style: normal
  font-weight: normal
  color: #767676
  margin: 2px 0 0 0

.inputs-row
  display: flex
  flex-flow: row nowrap
  align-items: center
  width: 388px

  .vacancy-form__input-title
    width: auto
    margin: 0 12px 0 0
    white-space: nowrap
    padding: 0

  .vacancy-form__input
    width: 86px
    margin: 0 24px 0 0

    &:first-child
      margin: 0 24px 0 0

  &_cut
    .vacancy-form__input
      width: 75px

.event-wrapper
  display: block
  animation-name: slideBottom
  animation-duration: .3s
  margin: 0 0 10px 0

  &[hidden]
    display: none
  .vacancy-form__input
    &[data-input=full]
      width: 500px

.soft-skills__row
  display: flex
  flex-flow: row wrap
  margin: 10px 0 0 0

.soft-skills__item
  padding: 0 12px
  height: 30px
  background: #ffffff
  border: 1px solid $border
  border-radius: 3px
  display: flex
  flex-flow: row nowrap
  align-items: center
  margin: 0 10px 10px 0
  cursor: pointer
  position: relative

  &:hover
    border-color: $blue

    .soft-skills__title, .soft-skills__add
      color: $blue

  &.hidden
    opacity: 0
    transform: translateY(-10px)
    transition: all .3s ease-in-out
    pointer-events: none


.soft-skills__title
  font-size: 13px
  line-height: 15px
  height: 16px
  color: #A0A0A0
  margin: 0 0 0 12px
  display: block
  padding: 15px 0
  display: flex
  align-items: center

.soft-skills__add
  font-size: 16px
  color: #A0A0A0
  pointer-events: none

.vacancy-form__input_textarea-work
  height: 60px
  resize: none
  padding: 6px 10px


// Custom rows
.inputs-row_habits
  align-items: flex-start
  width: 100%

  .custom-checkbox
    margin: 0 112px 0 0
    display: flex

    .vacancy-form__checkbox-title
      width: 130px
      transform: translateY(2px)

.bad-habits__wrapper
  display: flex
  flex-flow: row nowrap
  margin: 4px 0 0 0

  .vacancy-form__input-title
    transform: translateY(4px)


.vacancy-form__row_driver
  align-items: flex-start

  .vacancy-form__title
    width: 112px
    margin: 0 50px 0 0
    transform: translateY(4px)
    font-size: 15px
    line-height: 18px
    color: $text

  .vacancy-form__row:last-child
    .vacancy-form__input-title
      width: 112px
      margin: 0 50px 0 0

.event-wrapper__auto
  .vacancy-form__input-title
    width: 112px
    margin: 0 50px 0 0
    padding: 0 12px 0 0

  .vacancy-form__row
    &:first-child
      .vacancy-form__input
        width: 288px

    &:last-child
      .vacancy-form__input
        width: 84px

.army__wrapper
  display: flex
  flex-flow: row wrap
  margin: 0 0 12px 0

  .vacancy-form__title
    width: 170px
    padding: 0 12px 0 0
    margin: 0
    font-size: 15px
    line-height: 18px
    color: $text

  .army__list
    transform: translateY(-4px)

  .event-wrapper
    width: 100%

.event-wrapper_army
  display: none
  .vacancy-form__input-title
    width: 112px
    padding: 0
    margin: 0 50px 0 0

  .inputs-row
    width: auto
    .vacancy-form__input-title
      width: auto
      margin: 0 12px 0 0

    .vacancy-form__input
      width: 186px

.vacancy-form__row_pc, .vacancy-form__row_family
  align-items: flex-start

  .vacancy-form__list
    transform: translateY(-4px)

.vacancy-form__row_estate
  align-items: flex-start

  .vacancy-form__input-title
    width: 150px
    padding: 0
    margin: 0 12px 0 0

  .vacancy-form__list
    transform: translateY(-4px)

.vacancy-form__row_textarea
  align-items: flex-start

.vacancy-form__input_textarea-big
  height: 150px
  width: 450px
  resize: none
  margin: 0 0 50px 0

.vacancy-form__policy
  font-size: 12px
  line-height: 14px
  color: #A0A0A0

.vacancy-form__column_spouse
  display: none
  animation-name: slideBottom
  animation-duration: .3s


.clone-button
  border: none
  background: transparent
  outline: none
  border-bottom: 1px dotted $blue
  color: $blue
  font-weight: 500
  font-size: 13px
  margin: 0 0 0 262px
  cursor: pointer

  &:hover
    color: $red
    border-color: $red

  &_cut
    margin: 0 0 0 143px

.clone-block__delete-button
  position: absolute
  right: 0
  top: -12px
  width: 8px
  height: 8px
  border: none
  background: transparent
  transform: rotate(45deg)
  font-size: 24px
  color: $blue
  cursor: pointer
  outline: none

  &:hover
    color: $red

    ~.clone-block__border
      background: $red

// Drag nd drop
.drag-section
  display: flex
  flex-flow: row wrap
  position: relative
  justify-content: space-between

  &_top
    padding: 0 0 17px 0

    &::after
      width: 100%
      height: 1px
      left: 0
      bottom: 0
      background: $border
      content: ''
      display: block
      position: absolute

  &_bottom
    margin: 32px 0 0 0
    position: relative

    &::before, &::after
      display: block
      content: ''
      width: 20px
      height: 20px
      background: $substrate
      position: absolute
      top: -46px

    &::before
      transform: rotate(-60deg)
      left: calc(50% - 15px)
      border-left: 1px solid $border

    &::after
      transform: rotate(60deg)
      left: calc(50% - 7px)
      border-right: 1px solid $border



.form-change__button
  background: transparent
  border: 1px solid $green
  margin: 60px auto 24px auto
  width: 248px
  height: 44px
  display: flex
  align-items: center
  color: $text

  *
    pointer-events: none

  &:hover, &:active
    background: $green

.form-change__button-arrow-wrapper
  margin: 0 0 0 24px
  transform: translateY(1px)

.vacancy-form__submit-block
  margin: 32px 0 0 0
  .button
    width: 248px
    height: 44px
    font-weight: 500
    margin: 0 auto

.vacancy-form__submit-block
  display: flex
  flex-flow: column nowrap
  align-items: center
  width: 100%

.vacancy-form__submit-link
  display: flex
  align-items: center
  color: #A0A0A0
  margin: 12px 0 0 0
  font-size: 10px
  width: 248px

  &::before
    content: ''
    display: block
    width: 12px
    height: 12px
    background: url(../img/checkmark-gray.svg) no-repeat
    background-size: contain
    margin: 0 6px 0 0



.drag-wrapper
  width: 230px
  height: 60px
  display: flex
  flex-flow: row nowrap
  position: relative
  margin: 0 0 15px 0

.drag-block_back, .drag-block_front
  position: absolute
  display: flex
  align-items: center
  justify-content: center
  width: 230px
  height: 60px
  background: #ffffff
  border: 1px solid $blue
  border-radius: 3px

  &::selection
    background: transparent

  &::before
    content: ''
    width: 7px
    height: 12px
    display: block
    background: url(../img/drag.svg)
    position: absolute
    left: 12px
    z-index: 9999

  *
    pointer-events: none

.drag-block_front
  cursor: pointer
  position: relative
  transition: .3s

  &.hidden
    display: none

.drag-block_back
  opacity: .5

.drag-block__title
  color: $blue
  font-size: 13px
  font-weight: 500
  line-height: 15px
  width: 100%
  padding: 0 12px 0 36px
  pointer-events: none

  &::selection
    background: transparent

.drag-block__subtitle
  font-size: 10px
  line-height: 12px
  color: $blue
  pointer-events: none

  &::selection
    background: transparent

.drag-place__wrapper
  width: 230px
  height: 60px
  border: 1px solid transparent
  border-radius: 3px
  display: flex
  flex-flow: row nowrap
  background: #ffffff
  position: relative
  opacity: .5
  transition: .3s
  margin: 0 0 15px 0

  &::before
    content: ''
    display: flex
    z-index: 2000
    color: $blue
    top: 15px
    font-size: 24px
    font-weight: 500
    width: 40px
    justify-content: center
    position: absolute

  .drag-block_front
    &::before
      display: none


  &.hovered
    border-color: $blue


@for $i from 1 to 13
  .drag-place__wrapper
    &[data-index-#{$i}]
      &::before
        content: "#{$i}"

.ui-draggable-handle
  z-index: 600

.ui-draggable-dragging
  z-index: 1500


// Video section
.video-section
  padding: 32px 0 128px 0
